* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.nav_1 {

	background-color: #f8f8f8;
}

.first_container {

	padding: 10px;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	margin-right: 15%;
	margin-left: 15%;

	
}

.phone_number {
	color: #A2A2A2;

}

.nav_1_buttons {
	display: flex;
	justify-content: space-around;

	
}

.nav_1_buttons a {
	margin: 0 20px;
	color: #A2A2A2;
	font-family: 16px 'Space Mono', monospace;
}

.second_container {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 30px;
	margin-left: 15%;
	margin-right: 15%;
	font-weight: bold;
	color: #3B3442;
}

.nav_2_buttons a {
	font-weight: bold;
	color: #3B3442;
	font-family: 16px 'Space Mono', monospace;
	padding: 0px 14px;
	margin: 0 20px;
}

.drop_down_menu {
	
	display: none;
	border: black solid 3px;
	
}

a:link { 
	text-decoration: none; 
}


a:visited { 
	text-decoration: none; 
}


a:hover { 
	text-decoration: none; 
}


a:active { 
	text-decoration: none; 
}



@media screen and (max-width: 1550px) {
	.second_container {
		margin-right: 10%;
		margin-left: 10%;
	}
	.nav_2_buttons a {
		font-weight: bold;
		color: #3B3442;
		font-family: 16px 'Space Mono', monospace;
		padding: 0px 8px;
		margin: 0 20px;
}

@media screen and (max-width: 1400px) {
	.first_container {
		margin-right: 0px;
		margin-left: 0px;
	}
	
}

@media screen and (max-width: 1250px) {
	.second_container {
		margin-right: 5%;
		margin-left: 5%;
	}
	.nav_2_buttons a {
		font-weight: bold;
		color: #3B3442;
		font-family: 16px 'Space Mono', monospace;
		padding: 0px 4px;
		margin: 0 10px;
}

@media screen and (max-width: 1000px) {
	.phone_number {
		display: none;
	}
	
	.nav_2_buttons a {
		
		display: none;
	}
	
	.nav_1_buttons {
		padding: 14px 0px 10px;
	}
	
	.nav_1_buttons a:nth-of-type(1) { order: 3; }
	.nav_1_buttons a:nth-of-type(2) { order: 4; }
	.nav_1_buttons a:nth-of-type(3) { order: 5; }
	.nav_1_buttons a:nth-of-type(4) { order: 1; }
	.nav_1_buttons a:nth-of-type(5) { order: 2; }
	.nav_1_buttons form:nth-of-type(1) { order: 6; }

	.drop_down_menu {
		display: inline;
		padding: 10px 10px;
	}
}

@media screen and (max-width: 900px) {
	.second_container{
		flex-direction: column;
	}
}	