* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.nav_1 {

}

.container {
	display: flex;
	justify-content: space-between;
	background-color: #f8f8f8;
	padding: 10px;
	color: #ffffff;
	
}

.nav_1_buttons {
	display: flex;
	justify-content: space-around;
	
}

.phone_number {
	color: #A2A2A2;
	margin: 0 300px;
}